<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">
                Mis Usuarios
            </h1>
            <h3 class="mb-5">
                <em>Almacena tus usuarios</em>
            </h3>
            <a id="imagen fondo" class="btn btn-primary" href="/singin">Logear</a>
        </div>
    </header>
</main>